div.section div.container-fluid{
    position: relative;
}

.navigation {
    background: rgba(29, 173, 246, 0.8);
    padding: 0;
    }

#icon-group {
    background: rgba(0, 150, 210, 0.3);
    border: none;
}

#icon-group.collapsed {
    background: rgba(0, 150, 210, 1);
    border: none;
}

#mobile-dropdown li a {
    height: 100%;
    padding: 20px;
    border-right: 1px solid #5df;
    color: #333;
    font-size: 1.2em;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
}

#mobile-dropdown li:first-child a {
    border-left: 1px solid #5df;
}

#mobile-dropdown li:last-child a {
    border-right: none;
}

#mobile-dropdown li a:hover,
#mobile-dropdown li a:focus,
#mobile-dropdown li a.active {
    background-color: #00ccFF;
    color: #fff;
}

.navbar-header > a {
    padding-top: 2px;
}

.icon {
    background-color: #444;
}

.img-responsive{
    margin: 0 auto;
}

.myheading{
    font-weight: bolder;
    color:#fff;
    border-bottom: 5px solid;
    display: inline-block;
    border-radius: 50px;
}


#fullpage > div:nth-child(1) .myheading{
    width: 110px;
    margin: 0 auto;
    position: relative;
    top:-30px;
    }

#fullpage > div:nth-child(2) .myheading{
    width: 190px;
  }

#fullpage > div:nth-child(3) .myheading{
    width: 130px;
    position: relative;
    top:-40px;
}

#fullpage > div:nth-child(4) .myheading{
    width: 160px;
    position: relative;
    top:-40px;
}

.home-content{
    color: #fff;
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.home-content a{
    color: yellow;
    white-space: nowrap;
}

.move-down{
    position: relative;
}

.move-down a{
    color: #fff;
    font-size: 4.2em;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    background: rgba(255,255,255,0.4);
}

.move-down a:hover,.move-down a:active,.move-down a:visited,.move-down a:focus{
    text-decoration: none;
}

.move-down a:hover{
    background: rgba(133,133,133,0.4);
}

.slide {
    margin: 0 auto;
    text-align: center;
    margin-top: -60px;
    margin-bottom: -50px;
    }

.slide a{
    padding: 10px;
    display: inline-block;
}

.works {
    display: block;
}

.works > img.img-responsive {
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}

.about-content{
    color: #fff;
    padding: 10px 0;
    font-weight: 100;
}

#about-margin{
    margin-bottom: 50px;
}

div.row{
    position: relative;
    top:60px;
}

div.row > div{
    padding: 20px;
}

div.row img{
    -webkit-filter: none;
            filter: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

div.row img:hover{
    -webkit-filter:invert(70%);
            filter:invert(70%);
}

@media only screen and (max-width: 768px) {
    body{
        font-size: 12px;
    }

    #mobile-dropdown {
        padding: 0;
    }
    #mobile-dropdown li a {
        height: 100%;
        padding: 20px 0;
        border-right: none;
        border-bottom: 1px solid #2EA8E5;
        width: 100%;
        margin: 0;
    }
    #mobile-dropdown li:first-child a {
        border-left: none;
    }
}
